---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Page Properties -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Details -->
    <title>{{ site.data.website.title }} {{ site.data.website.title-main }}</title>
    <meta name="description" content="{{ site.data.website.description }}">
    <meta name="keywords" content="{{ site.data.website.keywords }}">

    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="assets/img/favicons/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Vision Gaming"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="assets/img/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="assets/img/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="assets/img/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="assets/img/favicons/mstile-310x310.png" />

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Scripts -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/functions.js"></script>
  </head>
  <body id="home">
    <!-- To Top Button -->
    <a href="#home" id="to-top" class="hidden"><span></span></a>
    
    <!-- Navigation Bar -->
    <div id="navbar">
      <div class="container">
        <!-- Logo -->
        <img class="logo" src="assets/img/{{ site.data.website.logo }}" alt="{{ site.data.website.logo-alt-name }}">
        
        <!-- Navigation Items -->
        <a class="mobile-nav"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><path fill="#FFF" d="M462 163.5H50v-65h412V163.5zM462 223.5H50v65h412V223.5zM462 348.5H50v65h412V348.5z"/></svg></a>
        <div id="nav">
          {% for navigation in site.data.website.navigation %}
            <a href="{{ navigation.link }}">{{ navigation.name }}</a>
          {% endfor %}
        </div>
        
        <div class="nav-toggle"><span></span></div>
      </div>
    </div>
    
    <!-- Header -->
    <header style="background-image: url(assets/img/{{ site.data.website.header-bg }});">
      <div class="gradient-fade"></div>
      
      <div class="container contain-sml">
        <h1>{{ site.data.website.header-title }}</h1>
        <hr style="max-width:80%;margin:0.6rem auto 0.8rem;">
        <p>{{ site.data.website.header-blurb }}</p>
        
        <a href="{{ site.data.website.header-button-one-link }}" class="btn btn-blue">{{ site.data.website.header-button-one-name }}</a>
        <a href="{{ site.data.website.header-button-two-link }}" class="btn btn-grey">{{ site.data.website.header-button-two-name }}</a>
      </div>
    </header>
    
    <!-- Stats 
    <div id="stats" style="display:none">
      
    </div>-->
    
    <!-- Clients -->
    <div id="clients">
      <div class="clients-belt">
        <div class="clients-wrap">
          <div class="container contain-lrg">
            <h2 class="sub-header">Previous Clients</h2>
            
            <ul>
              {% for clients in site.data.website.clients %}
                <li>
                  <img class="client-img" data-folder="{{ clients.folder }}" src="assets/img/clients/{{ clients.folder }}/thumb.jpg" alt="Client Logo">
                  
                  <div class="client-info">
                    <h3>{{ clients.name }}</h3>
                    <a href="{{ clients.link }}" target="_blank">{{ clients.website }}</a>
                    
                    <!--<p><span>Purpose</span> - {{ clients.description }}</p>-->
                    
                    <div class="btn btn-blue docs" data-folder="{{ clients.folder }}">Design Docs</div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
        <div class="client-wrap">
          <div class="container contain-mid">
            <h2 class="sub-header"><strong></strong></h2>
            
            <div class="btn btn-blue back">Back</div>
            
            <div class="client-content">
              
            </div>
            
            <div class="btn btn-blue back">Back</div>
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- Portfolio Header -->
    <div id="portfolio-header">
      <div class="container contain-mid">
        <h2 class="sub-header">Portfolio</h2>
        <hr>
        
        <p>{{ site.data.website.portfolio-blurb }}</p>
      </div>
    </div>
    
    <!-- Portfolio -->
    <div id="portfolio">
      <ul>
        {% for portfolio in site.data.website.portfolio %}
          <li>
            <img src="assets/img/portfolio/{{ portfolio.file-name }}" alt="{{ portfolio.name }}">
            
            <div class="image-info">
              <h3>{{ portfolio.name }}</h3>
              <p>{{ portfolio.date }}</p>
              
              <a href="assets/img/portfolio/large/{{ portfolio.file-name }}" class="btn btn-blue" download>Download</a>
            </div>
          </li>
        {% endfor %}
      </ul>
      
      <p class="container contain-mid">By downloading an image from above, you are deemed to have read and accepted the <b>terms &amp; conditions</b> which are to <b>fully credit</b> <i>Jordan Hinks</i> along with using the images for <b>non-commercial purposes only</b>, unless given permission by <i>Jordan Hinks</i>. For inquiries about using images for more than the currently allowed then contact me <a href="" ahref="{{ site.data.website.portfolio-contact }}">here</a>. For more details on what Creative Common these images fall under visit <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">here</a>.</p>
    </div>
    
    <!-- Contact -->
    <div id="contact">
      <div class="container contain-sml">
        <h2 class="sub-header">Like my work?</h2>
        
        <p>{{ site.data.website.contact-description }}</p>
        
        <form action="post" id="contact-fosrm" action="https://formspree.io/{{ site.data.website.email }}">
          <input type="hidden" name="_subject" value="New Submission from JordanHinks.com">
          <input type="text" name="_gotcha" style="display:none">
          <input type="hidden" name="_next" value="sent.html">
          <div class="input-group">
            <input id="name" type="text" name="name" required>
            <label> Your Full Name</label>
          </div>
          <div class="input-group">
            <input type="email" name="_replyto" required>
            <label> Your Email</label>
          </div>
          
          <textarea name="message" id="message" cols="10" rows="3" placeholder="Your Message..." required maxlength="2000"></textarea>
          
          <input type="submit" value="Send">
        </form>
      </div>
    </div>
    
    <!-- About -->
    <div id="about">
      <div class="container contain-mid">
        <h2 class="sub-header">About me</h2>
        
        <p>{{ site.data.website.about-me }}</p>
      </div>
    </div>
    
    <!-- Footer -->
    <footer><p>© Jordan Hinks 2016</p></footer>
  </body>
</html>
