header {

  // Imports Navbar - White & Black Type
  @import 'navbar.scss';

  &.fullscreen {
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top center;
    text-align: center;

    // Imports Testimonial Slides
    @import 'testimonials.scss';
  }
}
