.client {

  .tags-area {
    margin: 1.5rem 0;

    span.tags {
      font-size: 1.1rem;
      margin-right: 0.3rem;
    }

    .tags-box {
      display: inline-block;
      border-left: solid 1px black;
      padding: 0.6rem 0 0.8rem 0.5rem;
      color: rgba(black, 0.6);
      font-size: 1.1rem;
    }

    // Width 420px - START
    @media only screen and(max-width: 420px) {
      margin: 1rem 0;

      span.tags {
        display: block;
        text-align: center;
        margin: 0 0 0.2rem;
      }

      .tags-box {
        font-size: 1rem;
        display: block;
        text-align: center;
        padding: 0.8rem;
        border: none;
      }
    }
    // Width 420px - END
  }

  .link {
    margin-right: 1rem;
  }

  .link,
  .back {
    border: solid 1px black;
    padding: 0.7rem 1rem;
    display: inline-block;
    float: right;
    text-align: center;
    color: black;

    &:hover {
      background: black;
      color: white;
    }

    // Width 640px - START
    @media only screen and(max-width: 640px) {
      display: block;
      float: none;
      margin-top: 1rem;
      margin-right: 0;
      padding: 1rem 0;
    }
    // Width 640px - END
  }

  .client-content {

    h4.sub-header {
      font-size: 1.1rem;
      font-weight: 300;
      border-bottom: solid 1px black;
      max-width: 150px;
      padding-bottom: 0.5rem;

      // Width 420px - START
      @media only screen and(max-width: 420px) {
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.4rem;
      margin: 0.6rem 0 2rem;
    }

    /*iframe {
      width: 80%;
      border: none;
      height: 1000px;
      margin: 3rem auto;
      display: block;

      // Width 860px - START
      @media only screen and(max-width: 860px) {
        margin: 1rem auto;
        width: 90%;
        height: 360px;
      }
      // Width 860px - END
    }*/

    img {
      display: block;
      margin: 3rem auto;
      max-width: 60%;

      // Width 860px - START
      @media only screen and(max-width: 860px) {
        max-width: 90%;
        margin: 1rem auto;
      }
      // Width 860px - END
    }
  }
}
