#clients {
  @extend %cf;

  // Preview of all Clients
  .clients-area {
    overflow: hidden;
    width: 200%;
    position: relative;
    left: 0%;
    transition: 0.5s ease-in-out;

    &.to-client {
      left: -100%;
    }

    .clients,
    .client {
      float: left;
      width: 50%;
    }

    // Filter
    @import 'filter-box.scss';

    .clients {

      ul {
        font-size: 0;

        li.client-tn {
          position: relative;
          display: inline-block;
          cursor: pointer;
          transition: 0.25s ease-in-out;
          overflow: hidden;

          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, 0);
            transition: 2.5s ease-in-out .5s;
          }

          span.fold {
            display: block;
            position: absolute;
            height: 3.5rem;
            width: 3.5rem;
            transform: rotate(45deg) scale(500);
            background: white;
            background: linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,1));
            mix-blend-mode: soft-light;
            bottom: -1.75rem;
            left: -1.75rem;
            opacity: 0;
            transition: 0.6s ease-in-out;
          }

          // 1 Client per row
          &.full {
            width: 100%;
          }

          // 2 Clients per row
          &.half {
            width: 50%;
          }

          // 3 Clients per row
          &.thirds {
            width: 33.33%;
          }

          img.client-img {
            width: 100%;
          }

          h3 {
            position: absolute;
            left: 1.6rem;
            bottom: 1.05rem;
            z-index: 2;
            color: rgba(white, 0.8);
            font-weight: 300;
            font-size: 1.3rem;
            text-shadow: .5px .5px 0px rgba(black, 0.8);
            transition: 0.5s cubic-bezier(.65,.35,.36,1.5) 0.1s;
            transform: translateX(-200%);

            i {
              margin-left: 0.1rem;
              transition: 0.3s ease-in-out 0.45s;
              animation: clarwrgt 0.6s cubic-bezier(.65,.35,.36,1.5) alternate infinite;
              opacity: 0;
            }

            // Width 780px - START
            @media only screen and(max-width: 780px) {
              font-size: 1.1rem;
            }
            // Width 780px - END

            // Width 360px - START
            @media only screen and(max-width: 360px) {
              font-size: 1rem;
            }
            // Width 360px - END
          }

          &:hover {
            .overlay {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(black, 0.4);
            }

            span.fold {

              transform: rotate(45deg) scale(1);
              opacity: 1;
            }

            h3 {
              transform: translateX(-0%);

              i {
                opacity: 1;
              }
            }
          }
        }
      }

      // Width 740px - START
      @media only screen and(max-width: 740px) {
        ul {
          margin-top: 1rem;

          li.client-tn {
            display: block;
            margin-bottom: 1rem;

            // 1 Client per row
            &.full,
            &.half,
            &.thirds {
              width: 100%;
            }
          }
        }
      }
      // Width 740px - END

    }

    // Imports Individual Client Area
    @import 'client.scss';
  }
}

@keyframes clarwrgt {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(0.3rem);
  }
}
