#contact {
    padding: 2rem 0;
    background: darken($secondary-color,25%);
    
    p {
        text-align: center;
        font-size: 0.9rem;
    }

    form {
        text-align: center;
        padding: 2rem 0 3rem;

        input {
            background: none;
            border: solid 1px $primary-color;
            padding: 1rem 2rem;
            font-size: 1.2rem;
            display: inline-block;
            transition: 0.2s ease-in-out;

            &:focus,
            &:active {
                outline: none;
            }

            &[type="text"],
            &[type="email"] {
                border: none;
                border-bottom: solid 1px $primary-color;
            }

            &[type="submit"] {
                &:active,
                &:hover {
                    background: $primary-color;
                }
            }
        }

        .input-group {
            display: inline-block;
            margin-right: 1rem;
            position: relative;

            input {
                padding-left: 0;
                padding-right: 0.5rem;
            }

            label {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                pointer-events: none;
                transition: 0.1s ease;
            }

            input:focus + label,
            input.has-value + label {
                top: 0;
                font-size: 0.8rem;
                font-style: italic;
                color: $secondary-color;
            }
        }
        
        @media only screen and(max-width: 680px) {
            padding: 2rem 0 0;
            
            input {
                display: block;
                margin: 1rem 0;
                width: 100%;

                &[type="submit"] {
                    width: 60%;
                    display: inline-block;
                }
            }

            .input-group {
                display: block;
                margin: 1rem auto;
                max-width: 80%;
            }
        }
    }
}