.modal-area {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: rgba(0,0,0,0.8);
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transform: translateY(-200vh);
  transition: 0.1s ease-in-out 0.4s, opacity 0.2s 0s;

  &.active {
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.1s ease-in-out 0s,
                opacity 0.4s 0s;


    .modal {
      transform: translateY(0vh);
    }
  }

  .modal {
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 2rem 1rem;
    background: white;
    position: relative;
    transform: translateY(-150vh);
    transition: 1s cubic-bezier(.65,.35,.36,1.2);

    .alert {
      position: absolute;
      top: calc(50% - 0rem - 3rem);
      left: 0;
      text-align: center;
      padding: 2rem 0;
      width: 100%;
      background: black;
      color: white;
      font-size: 1rem;
      line-height: 1rem;
      transition: 1s cubic-bezier(.65,.35,.36,1.5);

      &.alert-success {
        background: #00AA44;
        animation: 1s successAnimation infinite alternate;
        animation-timing-function: cubic-bezier(.65,.35,.36,.8);

      }

      &.alert-error {
        background: #B92531;
        animation: 1s errorAnimation infinite alternate;
        animation-timing-function: cubic-bezier(.65,.35,.36,.8);
      }
    }

    .modal-content {

      h1 {
        font-weight: 300;
        font-size: 1.5rem;
      }

      form#contact-form {

        input,
        textarea {
          &:focus {
            outline: none;
          }
        }

        input {
          display: inline-block;
          width: calc(100% - 2em);
          margin: 0;
          border: solid 1px rgba(black, 0.25);
          background: none;
          padding: .8rem 1rem;

          &[type="text"],
          &[type="tel"],
          &[type="email"] {
            border: none;
            border-bottom: solid 1px rgba(black, 0.25);
          }

          &[type="submit"] {
            padding: .9rem 2rem;
            border: solid 1px black;
            background: none;
            background: linear-gradient(-60deg, transparent 50%, black 50%);
            background-size: 230%;
            background-repeat: no-repeat;
            background-position: bottom right;
            margin-top: 2rem;
            cursor: pointer;
            transition: 0.5s ease-in-out;
            width: auto;

            &:hover {
              //background: black;
              color: white;
              background-position: top left;
            }
          }
        }

        textarea {
          width: calc(100% - 2rem);
          resize: vertical;
          padding: 1rem;
          font-family: 'Titillium Web', sans-serif;
          border: solid 1px rgba(black, 0.25);
          background: none;
          min-height: 8rem;
          max-height: 18rem;
        }

        .input-group {
          position: relative;
          width: 100%;
          margin-top: 3rem;

          label {
            position: absolute;
            top: 1.3rem;
            left: 1rem;
            transform: translateY(-50%);
            pointer-events: none;
            transition: 0.25s ease;
            color: rgba(black, 0.6);

            &.static {
              top: -1.5rem;
              left: .5rem;
              font-size: 0.8rem;
              font-style: italic;
              color: black;
            }
          }

          input:focus + label, input.has-value + label {
            top: 0;
            left: .5rem;
            font-size: 0.8rem;
            font-style: italic;
            color: black;
          }

          textarea:focus + label, textarea.has-value + label {
            top: -1rem;
            left: .5rem;
            font-size: 0.8rem;
            font-style: italic;
            color: black;
          }
        }
      }


      .close-modal {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        padding: .65rem .8rem .8rem;
        transition: 0.2s ease;
        transition: 0.25s cubic-bezier(.65,.35,.36,1.5);
        border-radius: 50%;

        i {
          color: black;
        }

        &:hover {
          transform: perspective(1rem) translate3d(0,0,3px);
          //background: rgba(black,0.1);
          box-shadow: 0px 0px 20px rgba(black,0.15);

          i {

          }
        }
      }
    }
  }

  // Width 480px - START
  @media only screen and (max-width: 480px) {

    .modal {
      margin-top: 2vh;
      margin-bottom: 2vh;

      .modal-content {

        h1 {
          font-size: 1.2rem;
        }

        form#contact-form {

          input {

            &[type="submit"] {
              padding: 1rem 0;
              width: 100%;
            }
          }

          textarea {
            width: calc(100% - 2rem);
            resize: vertical;
            padding: 1rem;
            font-family: 'Titillium Web', sans-serif;
            border: solid 1px rgba(black, 0.25);
            background: none;
            min-height: 8rem;
            max-height: 18rem;
          }

          .input-group {
            margin-top: 2.5rem;

            input:focus + label, input.has-value + label {
              font-size: 0.9rem;
            }

            textarea:focus + label, textarea.has-value + label {
              font-size: 0.9rem;
            }
          }
        }


        .close-modal {

          &:hover {
            transform: perspective(1rem) translate3d(0,0,2px);
          }
        }
      }
    }
  }
  // Width 480px - END
}

@keyframes successAnimation {
  0% {
    transform: translateY(-.5rem);
  }

  100% {
    transform: translateY(.5rem);
  }
}

@keyframes errorAnimation {
  0% {
    transform: translateX(-.5rem);
  }

  100% {
    transform: translateX(.5rem);
  }
}
