header {
    height: 600px;
    //background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    #navbar {
        height: 80px;
        background: $primary-color;
        box-shadow: 0 0 30px black;
        
        img {
            display: inline-block;
            float: left;
            height: 60px;
            margin-top: 0.7rem;
        }
        
        .menu {
            display: none;
        }
        
        #main-nav {
            float: right;
            margin-top: 1.75rem;
            
            a {
                color: rgba($text-color,0.7);
                padding: 1.5rem 1rem;
                font-size: 18px;
                font-weight: 300;
                margin-top: 0.7rem;
                transition: all 0.2s ease-in-out;
                &:hover,&:active {
                    color: $text-color;
                }
            }
        }
    }
    
    .wrapper {
        text-align: center;
        
        h1 {
            display: block;
            font-size: 4rem;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 6rem 0 1rem;
        }
        
        p {
            font-size: 1.2rem;
            font-weight: 300;
            letter-spacing: 1px;
            border-top: solid 1px $text-color;
            padding-top: 0.4rem;
            max-width: 500px;
            width: 80%;
            min-width: 200px;
            margin: 0 auto;
            color: rgba($text-color, 0.8);
            
            span {
                font-weight: 400;
                color: rgba($text-color, 1);
            }
        }
        
        .cta {
            display: inline-block;
            background: none;
            border: none;
            color: $text-color;
            padding: 1rem 2rem;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            margin: 2rem 0.5rem 0;
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
            transition: all 0.2s ease-in-out;
            
            &.primary {
                background: $primary-color;
                
                &:hover {
                    background: darken($primary-color, 5%);
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
                }
            }
            
            &.secondary {
                background: rgba($secondary-color, 0.8 );
                
                &:hover {
                    background: darken($secondary-color, 5%);
                    box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
                }
            }
        }
    }
    
    @media only screen and (max-width: 600px) {
        height: 500px;

        #navbar {
            z-index: 10;
            position: relative;
            width: 100%;
            top: 0;
            
            .menu {
                display: inline-block;
                float: right;
                font-size: 2.5rem;
                margin-top: 0.7rem;
                cursor: pointer;
                opacity: 0.8;
                
                &:hover, &.active {
                    opacity: 1;
                }
            }

            #main-nav {
                float: none;
                position: absolute;
                left: 0;
                top: 52px;
                display: block;
                height: 0;
                overflow: hidden;
                text-align: center;
                width: 100%;
                transition: 0.2s ease-in-out;
                box-shadow: 0 0 30px black;

                a {
                    display: none;
                }
                
                &.active {
                    background: rgba($primary-color, 0.8);
                    height: 345px;
                    
                    a {
                        display: block;
                        border-bottom: solid 1px white;
                        padding: 1rem 0;
                        width: 100%;
                        
                        &:hover {
                            background: darken($primary-color, 10%);
                        }
                    }
                }
            }
        }
        
        .wrapper {
            .inner {
                transform: translateY(70px);
            }

            h1 {
                margin: 0;
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
            }

            .cta {
                display: block;
                margin: 1rem 0;

                &.primary {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}