nav#navbar {

  // Margin Top for Navigation Elements
  $nv-el-spce: 1.5rem;

  .logo {
    height: 60px;
    z-index: 11;
    position: relative;
    mix-blend-mode: soft-light;
    float: left;
    margin-top: #{$nv-el-spce};
  }

  ul#nav-items {
    float: right;
    text-align: right;
    margin-top: calc(#{$nv-el-spce} + 1rem);
    position: relative;
    z-index: 11;

    li {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1rem;

      a {
        padding: 1.2rem 1.4rem;
        transition: 0.25s ease-in-out;
      }
    }
  }

  // Sets text elements to white
  &.nav-white {
    li {

      a {
        color: rgba(white, 0.6);

        &:hover {
          color: rgba(white, 0.9);
        }
      }

      &.active {
        a {
          color: rgba(white, 0.9);
        }
      }
    }
  }

  // Sets text elements to black
  &.nav-black {
    li {

      a {
        color: rgba(black, 0.6);

        &:hover {
          color: rgba(black, 0.9);
        }
      }

      &.active {
        a {
          color: rgba(black, 0.9);
        }
      }
    }

    li.active {
      color: rgba(black, 0.9);
    }

    #nav-toggle span {
      background: black;

      &:hover span,
      &.active span {
        background: black;
      }
    }

    // Width 710px - START
    @media only screen and(max-width: 710px) {
      li {

        a {
          color: rgba(white, 0.6);

          &:hover {
            color: rgba(white, 0.9);
          }
        }

        &.active {
          a {
            color: rgba(white, 0.9);
          }
        }
      }

      li.active {
        color: rgba(white, 0.9);
      }
    }
    // Width 710px - END
  }

  // Mobile Navigation Icon
  #nav-toggle {
    display: none;
    transform: scale(1);
    padding: 0.8rem;
    height: 1.4rem;
    width: 1.4rem;
    position: relative;
    cursor: pointer;
    float: right;
    transition: 0.35s ease-in-out;
    z-index: 11;
    margin-right: 0.8rem;
    margin-top: #{$nv-el-spce};

    span {
      display: block;
      background: #666;
      height: 2px;
      width: 100%;
      left: 0;
      position: absolute;
      transition: 0.35s ease-in-out;
    }

    span:nth-child(1) {
      top: 0.5rem;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 1.25rem;
    }

    span:nth-child(4) {
      top: 2rem;
    }

    &.active span {
      background: white;
    }

    &.active {
      transform: scale(0.8);

      span:nth-child(1) {
        top: 18px;
        width: 0;
        left: 50%;
      }

      span:nth-child(2) {
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }

  // Width 710px - START
  @media only screen and(max-width: 710px) {

      // Margin Top for Navigation Elements
      $nv-el-spce: 1.2rem;

      .logo {
        height: 55px;
        z-index: 11;
        position: relative;
        float: left;
        margin-top: #{$nv-el-spce};
      }

      ul#nav-items {
        display: block;
        float: none;
        text-align: center;
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5rem 0 0 0;
        width: 100%;
        background: rgba(black, 0.8);
        transform-origin: top center;
        transform: perspective(400) rotate3d(1, 0, 0, -90deg);
        transition: 0.25s ease-in-out;
        max-height: 0;
        overflow: hidden;

        li {
          display: block;

          a {
            display: block;
            width: 100%;
            padding: 1.2rem 0;
          }
        }

        &.active {
          max-height: 1000px;
          transform: perspective(400) rotate3d(0, 0, 0, 0);
        }
      }

      // Mobile Navigation Icon
      #nav-toggle {
        display: block;
      }
  }
  // Width 710px - END
}
