@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,300);

// Links
a {
    text-decoration: none;
    outline: 0;
}

// Selection
::selection {
    background: $primary-color;
}

img::seleciton {
    background: transparent;
}

// Basic Styles
html,
body {
    overflow-x: hidden;
}

body {
    background: $background-color;
    font-size: 14px;
    line-height: 1.4;
    font-family: 'Exo 2', sans-serif;
    color: $text-color;
    font-smoothing: antiliased;
    text-size-adjust: 100%;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: 300;
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}

.wrapper-slim {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

h2.subheader {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 0.5rem;

    span {
        letter-spacing: -3px;
        margin: 0 0.4rem;
    }
    
    @media only screen and (max-width: 440px) {
        font-size: 16px;
        
        span {
            display: none;
        }
    }
}

a#to-top {
    position: fixed;
    z-index: 10;
    right: 1rem;
    bottom: 0rem;
    height: 3rem;
    width: 4rem;
    background: rgba($primary-color, 0.6);
    border-radius: 10px 10px 0 0;
    transition: 0.2s cubic-bezier(.4,.3,.2,2);
    cursor: pointer;
    transform-origin: bottom center;
    
    span,
    span:before {
        display: block;
        content: "";
        margin: 0 auto;
        width: 31px;
        height: 1px;
        background: $text-color;
        position: relative;
        border-radius: 50px;
    }
    
    span {
        transform-origin: center;
        transform: rotate(-45deg) translate(-20px, 5px);
    }
    
    span:before {
        transform: rotate(90deg) translate(15px, -15px);
    }
    
    &:hover {
        height: 4rem;
        background: rgba($primary-color, 0.9);
        
        span,
        span:before {
            
        }
    }
}

a.hidden {
    transform: scale(0);
}

footer {
    width: 100%;
    background: darken($background-color,05%);
    padding: 0.5rem 0 1rem;
    text-align: center;
    
    p {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}