@import 'normal.scss';
@import 'base.scss';

// Navbar
@import 'modules/navbar.scss';

// Background
@import 'modules/background.scss';

h2.sub-header {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;

  &.border {
    border-bottom: solid 1px black;
    max-width: 220px;
    padding-bottom: 0.5rem;

    // Width 420px - START
    @media only screen and(max-width: 420px) {
      text-align: center;
      max-width: 60%;
      margin: 0 auto;
    }
  }
}

section {
  padding: 4rem 0;
  overflow: hidden;
  width: 100%;
}

// Clients
@import 'modules/clients.scss';

// About
@import 'modules/about.scss';

// Footer
@import 'modules/footer.scss';

// loader
@import 'modules/loader.scss';

// Contact Popup
@import 'modules/contact.scss';

// No Content
.no-content {
  text-align: center;
  font-size: 1.1rem;
  color: #999;
  margin-top: 18vh;

  i {
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
}

// No Script
noscript {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.85);
  z-index: 100;

  .band {
    display: block;
    width: 100%;
    position: fixed;
    top: calc(50% - 0vh);
    transform: translateY(-50%);
    left: 0;
    background: rgba(#B92531, 0.85);
    background: rgba(255,255,255,0.95);
    padding: 2rem 0;
    text-align: center;

    p {
      color: black;
      font-size: 1.1rem;
    }

    a {
      border: solid 1px black;
      padding: 1rem 1.4rem;
      color: black;
      margin-top: 1.5rem;

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}
